type haptic_profile_trigger_prop, property_type, system_property_type, system_public_property_type;
set_prop(platform_app, haptic_profile_trigger_prop)
set_prop(system_app, haptic_profile_trigger_prop)
